* {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
  font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

 .menu {
	float: right;
 }

 .create {
	 width: 100%;
	 height: 100px;

	 display:flex;
	 justify-content: space-between;
	 align-items: center;
 }

 .add__margin {
	 margin-top: 10px;
 }

